@charset "UTF-8";

body {
    background-color: #F5F5DC; 
}

.dark-btn{
    background-color: #716e6b; 
    border-color: #817f7e;
    color: white;
}.dark-btn:hover{
    background-color:#817f7e;
    color:#716e6b;
    border-color:  #faf9f8;
}.dark-btn:disabled{
    background-color: #716e6b; 
    border-color: #817f7e;
    color: white;
}

.warm-btn {
    background-color: #F4A460; 
    border-color: #DEB887;
    color: white;
}

.warm-btn:hover {
    background-color: #DEB887; 
    border-color: #F4A460; 
}

.warm-btn:disabled{
    background-color: #F4A460; 
    border-color: #DEB887;
    color: white;
}

.centered {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.custombg-warm{
    background-color: #f37820;
}

.card {
    margin-top: 10px;
}

.time-slot {
    width: calc(100% / 5 - 10px); 
    margin: 5px;
    padding: 10px 0;
    border: 1px solid #ccc;
}

.add-time {
    margin: 5px;
    border: 1px solid #ccc;
}

.tutor-column {
    width: 20%; 
}

.disable{
    cursor: not-allowed;
    pointer-events: none;
 }