<!DOCTYPE html>

<!-- =========================================================== -->
<!-- add_users.html                                              -->
<!-- Author: Hita Gupta                                          -->
<!-- =========================================================== -->
 
<div class="modal fade" id="addUsersModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Add New Users</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            
            <div class="modal-body">

                Please upload a CSV file (such as one exported from Canvas) with columns Name and Netid.
                <br>

                <form method="POST" action="/upload" enctype="multipart/form-data">
                    <label for="user_type">User Type:</label>
                    <select name="user_type" id="user_type">
                        <option value="admin">Admin</option>
                        <option value="tutor">Tutor</option>
                        <option value="student">Student</option>
                    </select>
                    <br>
                    
                    <input type="file" id="users_file" name="users_file">
                    <br>

                    <input type="submit" class="btn warm-btn float-none" value="Upload">

                </form>
            </div>
        </div>
    </div>
</div>