<!DOCTYPE html>

<!-- =========================================================== -->
<!-- prev_week.html                                              -->
<!-- Author: Hita Gupta                                          -->
<!-- =========================================================== -->
 
<div class="modal fade" id="previousWeekModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Weekly Summary for {{dates[0].strftime('%B %d')}} to {{dates[1].strftime('%B %d')}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <b>{{summary["Total Appointments"]}} Appointments:</b><br><br>
                {% for tutor in summary["Total Appointments (By Tutor)"] %}

                {{tutor}}: {{summary["Total Appointments (By Tutor)"][tutor]}}
                <br>
    
                {% endfor %}

                {% if summary["No Show Appointments"]|length > 0 %}
                <br><br>
                <b>No Show Appointments:</b><br><br>
                {% for appt in summary["No Show Appointments"] %}
                {{appt}}
                {% endfor %}
                {% endif %}

            </div>
        </div>
    </div>
</div>