<!DOCTYPE html>

<!-- =========================================================== -->
<!-- tutor_overview.html                                         -->
<!-- Author: Hita Gupta                                          -->
<!-- =========================================================== -->
 
<div class="modal fade" id="overviewModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Tutor Overview</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">            
                {% for tutor in names_bios %}
        
                    <strong>{{tutor}}:</strong> {{names_bios[tutor]}}
                    <br>
        
                {% endfor %}        
            </div>
        </div>
    </div>
</div>