<!DOCTYPE html>

<!-- =========================================================== -->
<!-- weekly_summary.html                                         -->
<!-- Author: Hita Gupta                                          -->
<!-- =========================================================== -->
 
<!-- Modal code based on code from ChatGPT -->

<div class="modal fade" id="summaryModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Weekly Summary</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">

                <div>
                    <button class="btn warm-btn update-summary-calendar" data-week="1" id="prev-week-summary">Previous Week</button>
                    <button class="btn warm-btn update-summary-calendar" data-week="-1" id="next-week-summary" disabled>Next Week</button>
                </div>

                <br>

                {% for summary, dates in summaries %}

                {% set week = loop %}

                <div id="summary-calendar-{{week.index0}}" style="display:none">

                <b>{{dates[0].strftime('%B %d')}} to {{dates[1].strftime('%B %d')}} ({{summary["Total Appointments"]}} Appointments):</b><br><br>

                {% for tutor in summary["Total Appointments (By Tutor)"] %}

                {{tutor}}: {{summary["Total Appointments (By Tutor)"][tutor]}}
                <br>
    
                {% endfor %}

                {% if summary["No Show Appointments"]|length > 0 %}
                <br><br>
                <b>Students who did not show up to appointments:</b><br><br>
                {% for appt in summary["No Show Appointments"] %}
                <b>{{names[appt.get_student_netid()]}} ({{appt.get_student_netid()}}):</b> {{ appt.get_time().strftime('%A, %B %d') }} at {{ appt.get_time().strftime('%I:%M %p') }} with {{ names[appt.get_tutor_netid()] }}
                <br>
                {% endfor %}
                {% endif %}

                </div>

                {% endfor %}

            </div>
        </div>
    </div>
</div>