<!DOCTYPE html>

<!-- =========================================================== -->
<!-- weekly_summary.html                                         -->
<!-- Author: Hita Gupta                                          -->
<!-- =========================================================== -->
 
<!-- Modal code based on code from ChatGPT -->

<div class="modal fade" id="summaryModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Weekly Summary ({{summary["Total Appointments"]}} Appointments):</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">            
                {% for tutor in summary["Total Appointments (By Tutor)"] %}

                {{tutor}}: {{summary["Total Appointments (By Tutor)"][tutor]}}
                <br>
    
                {% endfor %}
            </div>
        </div>
    </div>
</div>