<!-- =========================================================== -->
<!-- add_appointment.html                                        -->
<!-- Author: Hita Gupta & Libo Tan                               -->
<!-- =========================================================== -->

<div class="modal fade" id="addAppointmentModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">Add New Appointment</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/add_appt_submit" method="POST">

                    <input type="hidden" id="tutor" name="tutor" value={{tutor}}>
        
                    <label for="date">Date:</label>
                    <br>
                    <input type="date" name="date" value="{{date}}">
                    <br>
        
                    <label for="time">Time:</label>
                    <br>
                    <select name="time">
                        <!-- Generate options from 9:00 AM to 11:30 AM -->
                        {% for hour in range(9, 12) %}
                            {% for minute in [0, 30] %}
                                <option value="{{ '%02d' % hour }}:{{ '%02d' % minute }}">
                                    {{ '%02d' % hour }}:{{ '%02d' % minute }} AM
                                </option>
                            {% endfor %}
                        {% endfor %}
                        <!-- Add options for 12:00 PM to 12:30 PM -->
                        <option value="12:00">12:00 PM</option>
                        <option value="12:30">12:30 PM</option>
                        <!-- Generate options from 1:00 PM (13:00) to 10:00 PM (22:00) -->
                        {% for hour in range(13, 23) %}
                            {% for minute in [0, 30] %}
                                <option value="{{ '%02d' % hour }}:{{ '%02d' % minute }}">
                                    {{ '%02d' % (hour-12) }}:{{ '%02d' % minute }} PM
                                </option>
                            {% endfor %}
                        {% endfor %}
                    </select>
                    <br>

                    <button class="btn warm-btn mt-3">Add Time</button>        
                </form>        
            </div>
        </div>
    </div>
</div>
