<!DOCTYPE html>

<!-- =========================================================== -->
<!-- tutorview.html                                              -->
<!-- Author: Libo Tan                                            -->
<!-- =========================================================== -->


<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" 
            integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <!-- Custom CSS Module -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">       
        <title>Dashboard</title>
        <!-- Bootstrap JS and jQuery -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
        <!-- Include external JavaScript file -->
        <script src="{{ url_for('static', filename='js/script.js') }}"></script>
      </head>

    <body>
        {% include 'headerDynamic.html' with context %}
        
        <div class="container-fluid" >
            You have the following appointments for this week: 

            <!-- Current Appointments Block -->
            <div class="col-md-6">
              <div class="card">
                <div class="card-header custombg-warm text-white">
                  Current Appointments
                </div>
                <ul class="list-group list-group-flush">
                    {% for date, time, netid in apt_tutor %}
                    <li class="list-group-item">
                      {{date.strftime('%A, %B %d')}} at {{time}} with {{netid}}
                      <button class="btn warm-btn float-end view-cancel" data-tutor_netid="{{user[2]}}" data-date="{{date}}" data-time="{{time}}">View/Cancel</button> 
                    </li>
                    {% endfor %}
                </ul>
              </div>
            </div>

            <button class="btn warm-btn edit-tutor-bio" data-tutor_netid="{{user[2]}}">View/Edit My Bio</button>
            
            <hr>

            <!-- Include popup container -->
            <div id="tutor-bio-edit-modal-container" data-tutor_netid="{{user[2]}}"></div>
        
            {% include 'schedule.html' with context %}

        </div>
    
        {% include 'footer.html' with context %}

      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    </body>
</html>
