<!-- =========================================================== -->
<!-- appointment_popup.html                                      -->
<!-- Author: Hita Gupta and Sofia Marina                         -->
<!-- =========================================================== -->

<div class="modal fade" id="appointmentModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">{{title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if error %}
                {{error}}
                {% else %}
                
                <!-- Unbooked popup for tutors, lets them change time  -->
                {% if user[1] == "tutor" and not appointment.get_booked() %}
                You can edit the date and time for this time slot below, and click "Edit Appointment" to submit your changes.
                <br><br>
                <form action="/edit_appointment" method="post">
                    <label for="appt-location">Appointment Location:</label>
                    <br>
                    <input type="text" name="location" value="{{appointment.get_location()}}" disabled>
                    <br>

                    <label for="appt-date">Appointment Date:</label>
                    <br>
                    <input type="date" name="new-date" value="{{date}}">
                    <br>
                    
                    <label for="appt-time">Appointment Time:</label>
                    <br>
                    <input type="time" name="new-time" value="{{appointment.get_time().strftime('%H:%M')}}">
                    <br>
                                            
                    <input type="hidden" name="prev-time" value="{{appointment.get_time().strftime('%H:%M')}}">
                    <input type="hidden" name="prev-date" value="{{date}}">
                    <input type="hidden" name="tutor_netid" value="{{tutor.get_netid()}}">
                    <br>
                    <button class="btn warm-btn">Edit Appointment</button>
                </form>

                <br>

                <hr>
                Click on "Delete Appointment" to delete this time slot.
                <br>
                <button class="btn warm-btn" onclick="window.location.href='{{url_for('delete_appointment', time=appointment.get_time().strftime('%Y-%m-%d %H:%M'), tutor_netid=tutor.get_netid())}}'">Delete Appointment</button>

                <!-- Popup for everyone else is locked/bookable  -->
                {% else %}
                    <form action="/appointment_confirm" method="post">
                        <label for="appt-date">Appointment Location:</label>
                        <br>
                        <input type="text" name="location" value="{{appointment.get_location()}}" disabled>
                        <br>

                        <label for="appt-date">Appointment Date:</label>
                        <br>
                        <input type="date" name="appt-date" value="{{date}}" disabled>
                        <br>
                        
                        <label for="appt-time">Appointment Time:</label>
                        <br>
                        <input type="time" name="appt-time" value="{{appointment.get_time().strftime('%H:%M')}}" disabled>
                        <br>
                        
                        <label for="tutor_name">Tutor Name:</label>
                        <br>
                        <input type="text" value="{{tutor.get_name()}}" disabled>
                        <br>
                        
                        {% if user[1] == "student" and appointment.get_booked()%}
                        <label for="tutor-email">Tutor Email: </label>
                        <br>
                        <input type="text" name="tutor_email" value="{{appointment.get_tutor_netid()}}@princeton.edu" disabled>
                        <br>
                        {% endif %}

                        {% if user[1] == "tutor" and appointment.get_booked()%}
                        <label for="student-email">Student Email: </label>
                        <br>
                        <input type="text" name="student_email" value="{{appointment.get_student_netid()}}@princeton.edu" disabled>
                        <br>
                        {% endif %}
                        
                        <label for="student_name">Student Name:</label>
                        <br>
                        {% if user[1] != "student" or appointment.get_booked() %}
                            <input type="text" name="student_name" value="{{student.get_name() if student else ''}}" disabled>
                        {% else %}
                            <input type="text" name="student_name" value="{{user[0]}}" disabled>
                        {% endif %}
                        <br>
            
                        <label for="comments">Comments for Appointment:</label>
                        <br>
                        {% if user[1] != "student" or appointment.get_booked() %}
                            <textarea class="textarea" name="comments" cols="30" rows="3" disabled>{{appointment.get_comments() if appointment.get_comments() else ''}}</textarea>
                        {% else %}
                            <textarea class="textarea" name="comments" cols="30" rows="3" maxlength="1000"></textarea>
                        {% endif %}
                        <br>
            
                        {% if user[1] == "student" and not appointment.get_booked() %}
                        <input type="hidden" name="date" value="{{date}}">
                        <input type="hidden" name="time" value="{{appointment.get_time().strftime('%H:%M')}}">
                        <input type="hidden" name="tutor_netid" value="{{tutor.get_netid()}}">
                        <input type="hidden" name="tutor_name" value="{{tutor.get_name()}}">
                        <input type="hidden" name="student_netid" value="{{user[2]}}">
                        <br>
                        <button class="btn warm-btn">Book Appointment</button>
                        {% endif %}
                        <br>
            
                    </form>
                    
                    {% if appointment.get_booked() and (user[2] == appointment.get_student_netid() or user[2] == appointment.get_tutor_netid()) %}
                    <hr>
                    <button class="btn warm-btn" onclick="window.location.href='{{url_for('cancel_appointment', time=appointment.get_time().strftime('%Y-%m-%d %H:%M'), tutor_netid=tutor.get_netid())}}'">Cancel Appointment</button>
                    {% endif %}

                {% endif %}  
                {% endif %}        
            </div>
        </div>
    </div>
</div>