<!-- =========================================================== -->
<!-- appointment_popup.html                                      -->
<!-- Author: Hita Gupta and Sofia Marina                         -->
<!-- =========================================================== -->

<div class="modal fade" id="appointmentModal" tabindex="-1" aria-labelledby="modalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalLabel">{{title}}</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {% if error %}
                {{error}}
                {% else %}
                
                <!-- Unbooked popup for tutors, lets them change time  -->
                {% if user[1] == "tutor" and not appointment.get_booked() %}
                <form action="/edit_appointment" method="post">

                    <label for="appt-date">Appointment Date:</label>
                    <br>
                    <input type="date" name="date" value="{{date}}">
                    <br>
                    
                    <label for="appt-time">Appointment Time:</label>
                    <br>
                    <input type="time" name="new-time" value="{{appointment.get_time().time()}}">
                    <br>
                                            
                    <input type="hidden" name="prev-time" value="{{appointment.get_time().time()}}">
                    <input type="hidden" name="tutor_netid" value="{{tutor.get_netid()}}">
                    <input type="submit" value="Edit Appointment">
                </form>

                <br>

                <hr>
                <button class="btn warm-btn" onclick="window.location.href='{{url_for('delete_appointment', time=appointment.get_time(), tutor_netid=tutor.get_netid())}}'">Delete Appointment</button>

                <!-- Popup for everyone else is locked  -->
                {% else %}
                    <form action="/appointment_confirm" method="post">

                        <label for="appt-date">Appointment Date:</label>
                        <br>
                        <input type="date" name="appt-date" value="{{date}}" disabled>
                        <br>
                        
                        <label for="appt-time">Appointment Time:</label>
                        <br>
                        <input type="time" name="appt-time" value="{{appointment.get_time().time()}}" disabled>
                        <br>
                        
                        <label for="tutor_name">Tutor Name:</label>
                        <br>
                        <input type="text" value="{{tutor.get_name()}}" disabled>
                        <br>
                        
                        <label for="student_name">Student Name:</label>
                        <br>
                        {% if user[1] != "student" or appointment.get_booked() %}
                            <input type="text" name="student_name" value="{{student.get_name() if student else ''}}" disabled>
                        {% else %}
                            <input type="text" name="student_name" value="{{user[0]}}" disabled>
                        {% endif %}
                        <br>
            
                        <label for="comments">Comments for Appointment:</label>
                        <br>
                        {% if user[1] != "student" or appointment.get_booked() %}
                            <textarea class="textarea" name="comments" cols="30" rows="3" disabled>{{appointment.get_comments() if appointment.get_comments() else ''}}</textarea>
                        {% else %}
                            <textarea class="textarea" name="comments" cols="30" rows="3"></textarea>
                        {% endif %}
                        <br>
            
                        {% if user[1] == "student" and not appointment.get_booked() %}
                        <input type="hidden" name="date" value="{{date}}">
                        <input type="hidden" name="time" value="{{appointment.get_time().time()}}">
                        <input type="hidden" name="tutor_netid" value="{{tutor.get_netid()}}">
                        <input type="hidden" name="tutor_name" value="{{tutor.get_name()}}">
                        <input type="hidden" name="student_netid" value="{{user[2]}}">
                        <input type="submit" value="Book Appointment">
                        {% endif %}    
                        <br>
            
                    </form>
                    
                    {% if appointment.get_booked() and (user[2] == appointment.get_student_netid() or user[2] == appointment.get_tutor_netid()) %}
                    <hr>
                    <button class="btn warm-btn" onclick="window.location.href='{{url_for('cancel_appointment', time=appointment.get_time(), tutor_netid=tutor.get_netid())}}'">Cancel Appointment</button>
                    {% endif %}

                {% endif %}  
                {% endif %}        
            </div>
        </div>
    </div>
</div>