<h2><span style="color: black;">Schedule</span></h2>

{% if user[1] == "student" %}
<h4>Click on a time slot to book an appointment. You can view a tutor's bio by hovering over their name.</h4>
{% endif %}

{% if user[1] == "tutor" %}
<h4>Click on a time slot to view, cancel, or delete. Click '+' to add a new time slot.</h4>
{% endif %}

{% if user[1] == "admin" %}
<h4>Click on a time slot to view details.</h4>
{% endif %}

<div>
    <button class="btn warm-btn update-week-calendar" data-week="-1" id="prev-week" disabled>Previous Week</button>
    <button class="btn warm-btn update-week-calendar" data-week="1" id="next-week">Next Week</button>
</div>

<hr>

{% for appointments_by_date in weekly_appointments %}

{% set week = loop %}

<div id="calendar-{{week.index0}}" style="display:none">

{% if user[1] == "student" and not can_book[week.index0] %}
The calendar is currently disabled as you can only book one appointment per week.
{% endif %}

{% if week.index0 > 0 and user[1] == "tutor" %}
<hr>
Click on the button below if you would like to copy your schedule from the previous week into the current week.
<br><button class="btn warm-btn copy-times" data-mindate="{{appointments_by_date|min}}" data-maxdate="{{appointments_by_date|max}}">Copy Times From Last Week</button>
<hr>
{% endif %}

{% for date, tutors in appointments_by_date.items() %}
<table class="col-md-8" border="1">
    <thead>
        <tr>
            <th colspan="3">{{ date.strftime('%A, %B %d, %Y') }}</th>
        </tr>
        <tr>
            <th class="tutor-column">Tutors</th>
            <th>Times</th>
        </tr>
    </thead>
    <tbody>
        {% if user[1] == "tutor" and user[2] not in tutors %}
        <tr>
            <td>{{ names[user[2]] }}</td>
            <td>
                <button class="btn warm-btn add-time" data-tutor_netid="{{user[2]}}" data-date="{{date}}">+</button>
            </td>
        </tr>
        {% endif %}
            
        {% for tutor, appointments in tutors.items() %}
            <tr>
                <td>{{ names[tutor] }}</td>
                <td>
                    {% for appointment in tutors[tutor]  %}
                        {% if user[1] == "tutor" and user[2] != tutor %}
                            <button class="btn time-slot {{ 'dark-btn' if appointment[1] else 'warm-btn' }}" data-tutor_netid="{{tutor}}" data-date="{{date}}" data-time="{{appointment[0].strftime('%I:%M %p')}}" disabled>{{ appointment[0].strftime('%I:%M %p') }}</button>
                        {% elif user[1] == "student" and can_book[week.index0] %}
                            <button class="btn time-slot warm-btn" data-tutor_netid="{{tutor}}" data-date="{{date}}" data-time="{{appointment.strftime('%I:%M %p')}}">{{ appointment.strftime('%I:%M %p') }}</button>
                        {% elif user[1] == "student" and not can_book[week.index0] %}
                            <button class="btn time-slot warm-btn" data-tutor_netid="{{tutor}}" data-date="{{date}}" data-time="{{appointment.strftime('%I:%M %p')}}" disabled>{{ appointment.strftime('%I:%M %p') }}</button>
                        {% else %}
                            <button class="btn time-slot {{ 'dark-btn' if appointment[1] else 'warm-btn' }}" data-tutor_netid="{{tutor}}" data-date="{{date}}" data-time="{{appointment[0].strftime('%I:%M %p')}}">{{ appointment[0].strftime('%I:%M %p') }}</button>
                        {% endif %}
                    {% endfor %}
                    {% if user[1] == "tutor" and user[2] == tutor %}
                        <button class="btn warm-btn add-time" data-tutor_netid="{{tutor}}" data-date="{{date}}">+</button>
                    {% endif %}    
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<br> 
{% endfor %}

</div>

{% endfor %}

<!-- Include modal container -->
<div id="modal-container"></div>
<div id="add-appt-modal-container"></div>
<div id="copy-times-confirm-container"></div>