<h2><span style="color: black;">Schedule (</span><span style="color: #F4A460;">available</span><span style="color: black;">, </span><span style="color: #716e6b;">booked</span><span style="color: black;">)</span></h2>

{% if user[1] == "tutor" %}
<h3>Click on an existing appointment to view details/cancel. Click '+' to add new appointment time.</h3>
{% endif %}

{% if user[1] == "student" and not can_book %}
<h3>The calendar is currently disabled as you can only book one appointment per week.</h3>
{% endif %}

<button class="btn warm-btn update-week-calendar" data-week="-1" id="prev-week" disabled>Previous Week</button>
<button class="btn warm-btn update-week-calendar" data-week="1" id="next-week">Next Week</button>

{% for appointments_by_date in weekly_appointments %}

<div id="calendar-{{loop.index0}}" style="display:none">

{% if loop.index0 > 0 %}
<button class="btn warm-btn copy-times">Copy Times From Last Week</button>
{% endif %}

{% for date, tutors in appointments_by_date.items() %}
<table class="col-md-8" border="1">
    <thead>
        <tr>
            <th colspan="3">{{ date.strftime('%A, %B %d, %Y') }}</th>
        </tr>
        <tr>
            <th class="tutor-column">Tutor</th>
            <th>Times Available</th>
        </tr>
    </thead>
    <tbody>
        {% for tutor, appointments in tutors.items() %}
            <tr>
                <td>{{ tutor }}</td>
                <td>
                    {% for appointment in appointments  %}
                        {% if user[1] == "tutor" and user[2] != tutor %}
                            <button class="btn time-slot {{ 'dark-btn' if appointment[1] else 'warm-btn' }}" data-tutor_netid="{{tutor}}" data-date="{{date}}" data-time="{{appointment[0]}}" disabled>{{ appointment[0] }}</button>
                        {% elif user[1] == "student" and can_book %}
                            <button class="btn time-slot warm-btn" data-tutor_netid="{{tutor}}" data-date="{{date}}" data-time="{{appointment}}">{{ appointment }}</button>
                        {% elif user[1] == "student" and not can_book %}
                            <button class="btn time-slot warm-btn" data-tutor_netid="{{tutor}}" data-date="{{date}}" data-time="{{appointment}}" disabled>{{ appointment }}</button>
                        {% else %}
                            <button class="btn time-slot {{ 'dark-btn' if appointment[1] else 'warm-btn' }}" data-tutor_netid="{{tutor}}" data-date="{{date}}" data-time="{{appointment[0]}}">{{ appointment[0] }}</button>
                        {% endif %}
                    {% endfor %}
                    {% if user[1] == "tutor" and user[2] == tutor %}
                        <button class="btn warm-btn" onclick="window.location.href='{{ url_for( 'add_appointment', tutor_netid=tutor, date=date ) }}'">+</button>
                    {% endif %}    
                </td>
            </tr>
        {% endfor %}

        {% if user[1] == "tutor" and user[2] not in tutors %}
        <tr>
            <td>{{ user[2] }}</td>
            <td>
                <button class="btn warm-btn" onclick="window.location.href='{{ url_for( 'add_appointment', tutor_netid=user[2], date=date ) }}'">+</button>
            </td>
        </tr>
        {% endif %}
    </tbody>
</table>
<br> 
{% endfor %}

</div>

{% endfor %}

<!-- Include modal container -->
<div id="modal-container"></div>
